.amount {
    margin: 3px;
    padding: 3px;
    display: block;
}

.amount input {
    border: 3px solid #7f7b7b;
}

.amount input.negative {
    border: 3px solid #f00;
}

.amount.dark input{
    background-color: #555;
    color: #ccc;   
}