.converter {
    margin: 3px;
    padding: 3px;
    display: inline-flex;
    flex-direction: column;
    border: 3px solid #888;
}

.converter .converter-header {
    font-size: 20px;
    text-transform: uppercase;
    margin: 8px;
}