.App {
    height: 100vh;
}

.App.dark {
    background-color: #222222;
    color: #eeeeee;
}


.App.light {
    background-color: #eeeeee;
    color:#222222
}

.App.dark select {
    background-color: #555;
    color: #ccc;
}